body {
  margin: 0px;
  font-family: {{fontName}};
  font-size: {{fontSize}}px;
  font-weight: {{fontWeight}};
  color: {{fontColor}};
  -webkit-text-stroke: {{strokeWidth}}px {{strokeColor}};
}

#overlay {
  display: none;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.showOverlay {
  display: flex;
}

#container {
  width: 100%;
  height: 100%;
}

.spacer {
  width: {{spacerWidth}}px;
  display: {{graphDisplay}};
}

.relativeSpacer {
  width: {{spacerWidth}}px;
  display: {{relativeDisplay}};
}

.option {
  width: 1%;
}

.graph {
  display: flex;
  align-items: center;
  
  text-align: right;
  justify-content: space-between;
  
  background-color: {{graphColor}};
  border-radius: {{graphBorderRadius}}px;
  height: {{graphHeight}}%;
  border-width: {{graphBorderWidth}}px;
  border-color: {{graphBorderColor}};
  border-style: solid;
  box-shadow: 1px 1px 2px gray;
  transition: width {{graphAnimationDuration}}s {{graphAnimation}};
}

.noAnimation {
  transition: none !important;
}

.graphWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  
  font-size: {{percentageFontsizeOffset}}%;
}

.graphCol {
  display: {{graphDisplay}};
}

.relative {
  flex-basis: 0%;
  padding-left: 4px;
  padding-right: 4px;
  width: 100%;
  display: {{relativeDisplay}};
}

.absolute {
  width: 1%;
  text-align: right;
  display: {{absoluteDisplay}};
}

.validationFailed {
  border-style: solid;
  border-width: 4px;
  border-color: rgba(255,0,0,0.5);
  border-radius: 15px;
}
